body {
    background-color: #ddd;
    font-family: sans-serif;
    direction: rtl;
    font-family: "Expo Arabic";
    font-size: 15px;
    /*
    background-image: url(_n.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;*/
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: right;
}

ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    text-align: center;
}

ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
    margin-left: 70px;
    margin-right: 10px;
}

.continer {
    width: 1000px;
    background-color: white;
    margin: auto;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
    border: 0px;
    border-radius: 10px;
    /*background: linear-gradient(#ff0084,#33001b);*/
}

.RightSection {
    width: 55%;
    float: right;
    padding: 10px;
    text-align: right;
}

.RightSection p {
    color: #624863;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.leftSection {
    width: 40%;
    float: left;
}

.leftSection img {
    width: 100%;
    margin-top: 80px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="ConfirmPassword"] {
    width: 60%;
    padding: 8px 6px;
    margin: 8px 0;
    display: inline-block;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    width: 40%;
    font-weight: 500;
    margin: 16px 0;
    float: right;
    font-size: 14px;
    text-align: right;
}

input[type=submit] {
    width: 60%;
    background-color: #624863;
    color: white;
    padding: 14px 20px;
    margin: 50px 0;
 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.inputBlock
{
    max-height: 150px;
}
#error {
    display: none;
}

#usernameError,
#FullNameError,
#emailError,
#emailCompareError,
#passError,
#ConfirmPassError
{
    color: red;
    text-align: center;
    float: left;
    display: inline-block;
}


type
{
    color: red;
    text-align: center;
    float: left;
    display: inline-block;
}



 #preview-container {
            margin: 0px auto;
            padding: 40px;
            border: 1px solid #cccccc;
            border-radius: 2px;
            width: 50%;
        }
        
        #upload-dialog {
            padding: 5px;
            border: 1px solid #336699;
            background-color: white;
            color: #336699;
            background: none;
            font-size: inherit;
            font-family: inherit;
            outline: none;
            display: inline-block;
            cursor: pointer;
            border-radius: 2px;
            width: 80%;
            margin: 0px 29px;
        }
        
        #image-file {
            display: none;
        }
        
        #preview-image {
            display: none;
            margin: 0px 100px;
            width: 80px;
            border: 1px solid rgba(0, 0, 0, 0.01);
            border-radius: 2px;
        }
        
        #image-name {
            display: none;
            vertical-align: middle;
            color: black;
            background-color: whitesmoke;
            margin: 0 15px;
        }
        
        #upload-button {
            padding: 5px;
            border: 1px solid #336699;
            background-color: #336699;
            color: white;
            font-size: inherit;
            font-family: inherit;
            outline: none;
            display: none;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 2px;
        }
        
        #cancel-image {
            display: none;
            vertical-align: middle;
            padding: 0px;
            border: none;
            color: #777777;
            background-color: white;
            font-size: inherit;
            font-family: inherit;
            outline: none;
            vertical-align: middle;
            cursor: pointer;
            margin: 0 0 0 15px;
        }
